body, html{
    height:100%;
}

#root{
    margin-top: 2em;
}
#root .row{
    position: relative;
}

#root .row .form_block{
    display: inline-flex;
    padding-right: 0px;
    padding-left: 0px;
}
.category{

    position: absolute;
    top: 34px;
background-color: white;

    border: 1px solid #ddd;
    display: block;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.category_name{
background-color: #EEEEEE;
        margin-bottom: 0px;
}
.category_name p{
background-color: #F1F1F1;
}
.category_name button{
    float: right;
    padding: 0.2em 0.5em 0.2em 0.5em;
}

#category_left ul{
        list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;

}
#category_left{
        padding-left: 0px;
    padding-right: 0px;


}

#category_left ul li{
    padding-bottom: 5px;
    padding-top: 5px;

}

.category button{
    float: right;
        padding-bottom: 0px;
    padding-top: 0px;
}

#category_right{
height:100%;

    padding-left: 0px;
    padding-right: 0px;

    border-left: 1px solid #ddd;
}
#category_right ul{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
#category_right p, .category_right li{
    border-left-width: 0px;
    border-bottom-width: 0px;
}

.list-group-item{

    border-left-width: 0px;
    border-right-width: 0px;

    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}
.list-group-item:last-child{

    border-bottom-width: 0px;
}

#category_left .category_name:first-child p, #category_right .category_name:first-child p{
border-top-width: 0px;
    border-bottom-width: 0px;
}
#lorem{
    height: 700px;
    background-color: #00AA88;
    margin-left: -1em;
    margin-right: -1em;
}
#active-item {

    background-color: lightsteelblue;
}
#active-button{

}
.category{
    overflow: hidden;
}
.category #category_left, .category #category_right{
    float: left;
    padding-bottom: 100%;
    margin-bottom: -100%;
}
#active-button{

}
#active-button:focus{

    outline: none;
}

a:focus{
    text-decoration: none;
}