<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

 <div>
            <h1><a href="">Django First Blog</a></h1>
        </div>

        <div>
            <p>published: 26.09.2016, 15:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Vigils observare! To some, a visitor is a music for following.</p>
        </div>

        <div>
            <p>published: 26.09.2066, 15:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Sonic shower, turbulence, and moon.</p>
        </div>
</body>
</html>